<%- include('../include/header.login.ejs') %>

<div class="container-fluid">

        

        <div class="from rounded col-10 col-md-5 " style="height: 400px;">
                <h3 style="margin-top: 30px; margin-bottom: 20px; text-align: center;">Đăng Nhập</h3>
                <div class="card-body">
                    <form action="" method="post">
                        <div class="container">

                        
                                <div class="row">
                                    <div class="input-group flex-nowrap">                               
                                        <input type="text" class="form-control" placeholder="Tên đăng nhập" name="ten">
                                    </div>
                                    <div class="input-group flex-nowrap">                               
                                        <input type="password" class="form-control" placeholder="Mật khẩu" name="passwrd">
                                    </div>                                  
                                    
                                </div>                 

                        </div>

                        <div class="btnn">
                            <button type="submit" style="color: white; font-family:verdana; margin-left: 200px;" class="btn btn-warning">Đăng Nhập</button>          
                            <%= msg%>
                        </div>

                    </form>
                    
                    
                    
                </div>

      

    </div>
</div>


